<!DOCTYPE html>
<html lang="RU-ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная - "КОД 161"{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <script src="main.js"></script>
    <header>
        <div class="header-div-top">
            <div class="header_hero-text">
                <h2>Код 161</h2>
            </div>
            <ul class="header_menu-list">
                <li class="header_menu_list-element selected">Главная</li>
                <li class="header_menu_list-element"><a>Новости</a></li>
                <li class="header_menu_list-element"><a>Наши Люди</a></li>
                <li class="header_menu_list-element"><a>Учёба</a></li>
                <li class="header_menu_list-element"><a>Творчество</a></li>
                <li class="header_menu_list-element"><a>Спорт</a></li>
                <li class="header_menu_list-element"><a>Медиа</a></li>
                <li class="header_menu_list-element"><a>Досуг</a></li>
                <li class="header_menu_list-element"><a>О газете</a></li>
                <li class="header_menu_list-element"><a href="/admin">Админ</a></li>
                <li class="header_menu_list-element bg"><a href="/beta">Бета версия</a></li>
                <li class="header_menu_list-element-menubar"><i class="fa-solid fa-bars"></i></li>             
            </ul>
            <div class="header_search"><input class="search_input" type="search" placeholder="Поиск..."></div>
            <div class="header-list">
                <ul class="header_social_media-list">
                    <li class="social_media_list-element"><a href="google.com" class="social_media_link"><i class="fa-brands fa-vk"></i></a></li>
                    <li class="social_media_list-element"><a href="google.com" class="social_media_link"><i class="fa-brands fa-telegram"></i></a></li>
                    <li class="social_media_list-element"><a href="google.com" class="social_media_link"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer><h2></h2></footer>
</body>
</html>