main {
    top:0px;
    left:0px;
}

* {
    font-family: "JetBrains Mono", monospace;
}

body {
    background-color: #02050e;
    color:white;
}

.section {
    color: rgb(0, 0, 0);
    font-family: "JetBrains Mono", monospace;
    background-size: cover;
    padding-bottom: 30vh;
    padding-top: 20vh;
    padding-right: 29vw;
    font-size: 4vh;
}

.section-content{
    margin-left: 29vw;
    margin-right: auto;
    text-align: center;
    width: 40vw;
}

#sect-1 {
    background-color: #02050e;
    color:white;
}

#sect-2 {
    background-color: #AE4482;
    color:white;
}

#sect-5 {
    background-color: #005E91;
    color:rgb(255, 255, 255);
}

#sect-2>.sect-2-content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sect-3 {
    background-color: #FFD741;
    color:white;
}

#sect-4 {
    background-color: rgb(224, 198, 45);
    color:white;
}


.round-button {
    background-color: #00000000;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 4vh;
    color: rgb(0, 0, 0);
    border: rgb(0, 0, 0) solid 4px;
    border-radius: 100%;
}



.title-info {
    padding: 0px;
}

.sub-hero {
    color:rgb(199, 199, 199);
}

.info {
    color: #ff85be;
    font-size: 2vh;
    background-color: #96005749;
    border-spacing: 0;
    border: #aa1c5c solid 3px;
    border-radius: 10vw;
    max-height: fit-content;
    max-width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5vw;
    padding-right: 0.5vw;;
}

header {
    z-index: 5;
    color:#e92a83;
}

.img-sect {
    border-radius: 12px;
    position: absolute;
    margin-left: 45vw;
}

#kod-161 {
    text-shadow: #ff318e 6px 0px 64px;
    font-size: 10vh;
    color:white;
    animation-name: animation-hero-text;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    background: linear-gradient(90deg, rgb(173, 23, 105) 0%, rgb(140, 0, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animation-hero-text {
    0% {
        text-shadow: #ff2989 6px 0px 64px;
    }
    50% {
        text-shadow:#4d0b28 6px 0px 64px; 
    }
    100% {
        text-shadow: #ff2989 6px 0px 64px;
    }
}

.social-link {
    font-size: 7vh;
    color:white;
}

#tg:hover {
    color: turquoise;
}

#vk:hover {
    color:blueviolet;
}

nav ul {
    list-style: none;
    display:flex;
}

nav {
    font-size: 2.5vh;
}

nav li {
    padding-left: 6.5vw;
    padding-right: 6.5vw;
    max-width: 3vw;
    max-height: fit-content;
}


li a {
    text-decoration: none;
    color:#ffffff;
    max-width: 1vw;
}

li a:hover {
    color:#e92a83;
    text-decoration: underline;
    text-shadow: #c52570 4px 4px 16px;
}

li a:focus {
    color:#ffffff;
}


.logo {
    display:grid;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
}

.logo>h1 {
    font-size: 260%;
}

footer {
    position:absolute;
    background-color: rgb(0, 0, 15);
    color:white;
    padding-top: 15vh;
    padding-bottom: 5vh;
    width: 99vw;
}

.product-marker {
    color:rgb(255, 255, 255);
    font-size: 95%;
    width: fit-content;
    height: fit-content;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.bg-video {
    z-index: -1;
    min-width: 99vw;
    min-height: 99vh;
    position:absolute;
}

.info-card {
    text-shadow: none;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px white dashed;
    color:black;
    border-radius: 24px;
    font-size: 80%;
    padding-top: auto;
    padding-bottom: auto;
    max-width: auto;
}

.card-tag {
    border: 2px #3fc916 solid;
    background-color: #3fc916;
}

.info-title {
    font-size: 240%;
}

.mobile li {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    width: 100vw;
}

.menu {
    background-color: #00000000;
    border: #00000000 0px none;
    display: none;
    padding: 0px;
    font-size: 2vh;
}

@media (max-width: 890px) {
    .mobile {
        display:none;
    }
    .menu {
        display:block;
    }
    .mobile-resize {
        padding-right: 0vw;
    }
}

@media (min-width: 891px) {
    .mobile {
        display:block;
    }
    .menu {
        display: none;
    }
    .mobile-resize {
        padding-right: 2.5vw;
    }
}

.blue-span {
    color:rgb(0, 60, 255);
}

.spoiler-text {
    background-color: black;
    color:black;
}

.spoiler-text:hover {
    background-color: rgba(255, 255, 255, 0);
    color:black;
}

.hero-btn {
    border:#960070 solid 0.2vw;
    color: #ffffff;
    font-size: 2vh;
    background: #960064;
    background: linear-gradient(276deg, rgba(150, 0, 100, 1) 0%, rgb(102, 0, 150) 100%);
    border-spacing: 0;
    border-radius: 0.5vw;
    max-height: fit-content;
    max-width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
}

.hero-btn:hover {
    animation-name: btn-anim-grad;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes btn-anim-grad {
    0% {
        background: #960064;
        background: linear-gradient(276deg, rgba(150, 0, 100, 1) 0%, rgb(102, 0, 150) 100%);
    }
    100% {
        transform: scale(102.5%);
        box-shadow: #420c25 4px 4px 128px;
    }
}

.bg-num {
    position:relative;
    color:#960064;
    font-size: 10vh;
    z-index: 0;
}

.reasons h2 {
    position: absolute;
}